{% extends 'base.html' %}

{% block content %}
  
        <div class="container mt-5">
               <div class="jumbotron">
                    <h1>Student Name: {{ std_details.full_name }}</h1>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item list-group-item-danger">Class: {{ std_details.std_class }}</li>
                      <li class="list-group-item list-group-item-danger">Mobile Number : {{ std_details.mobile_number }}</li>
                      <li class="list-group-item list-group-item-danger">Address: {{ std_details.address }}</li>
                      <li class="list-group-item list-group-item-danger">Gender: {{ std_details.gender }}</li>
                      <li class="list-group-item list-group-item-danger">Age: {{ std_details.age }}</li>
                    </ul>
                </div>
        </div>
{% endblock  %}
  