{% extends "base.html" %}

{% block content %}
  
        <div class="blog-title-area">

            <span class="color-yellow"><a href="" title="">{{ post.category }}</a></span>

            <h3>{{ post.title }}</h3>

            <div class="mt-1 blog-meta big-meta">
            <small>{{ post.date }}</small>
            </div><!-- end meta -->

         
        </div><!-- end title -->

        <div class="single-post-media">
            <img src="{{ post.photo.url }}" alt="" class="img-fluid">
          </div><!-- end media -->

          <div class="blog-content">
            <div class="pp">
              <p>{{ post.body }}</p>

            </div><!-- end pp -->
        </div>
{% endblock  %}