{% extends "base.html" %}

{% block content %}

{% for post in posts %}



        <div class="blog-box wow fadeIn">
            <div class="post-media">
                <a href="{% url 'detail-post' post.id %}" title="">
                    <img src="{{ post.photo.url }}" alt="" class="img-fluid">
                    <div class="hovereffect">
                        <span></span>
                    </div>
                    <!-- end hover -->
                </a>
            </div>
            <!-- end media -->
            <div class="blog-meta big-meta text-center">
                <div class="post-sharing">
                    <ul class="list-inline">
                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div><!-- end post-sharing -->
                <h4><a href="" title="">{{ post.title }}</a></h4>
                <p>{{ post.body }}</p>
                <small><a href="{% url 'category-list' post.category.name %}" title="">{{ post.category }}</a></small>
                <small>{{ post.date }}</small>
            </div><!-- end meta -->
        </div><!-- end blog-box -->



        <hr class="invis">
  
{% endfor %}
  
{% endblock  %}